body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}
header {
    background: #005f73;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
header a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}
footer {
    background: #001219;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}
main {
    padding: 15px;
}
.container {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}
@media (max-width: 600px) {
    .container {
        width: 95%;
    }
}

.row {
    clear: both;
    text-align: center;    
}
.image-container {
    width: auto;
    height:auto;
    display: inline-block;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
}
.image-container img {
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px;
}