body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background: url("https://github.com/mandlos/archimedesai.github.io/blob/main/_data/Images/Archimedes_web_background.png?raw=true") no-repeat center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;   
}
header {
    background: #0d017453;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
header a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #0d017453;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 15px 0;
}
main {
    padding: 15px;
}
.container {
    position: static;
    width: 100%;
    margin: auto;
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
}
@media (max-width: 900px) {
    .image-container {
        width: 45%; /* Adjust for medium screens */
    }
}

@media (max-width: 600px) {
    .image-container {
        width: 90%; /* Adjust for small screens */
    }
}

.row-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.row {
    position: static;
    clear: both;
    text-align: center; /* Centers the images in the row */
    height: fit-content;
  }

/* .image-container {
    width: 30%;
    height: auto;
    display: inline-block;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 50%;
}

.image-container img {
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 20%;
    box-shadow: none;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 20%;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius:100%;
}

.image-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.01) 60%, rgb(255, 255, 255, 0.9) 90%);
    border-radius:60%;
}  */

.gradient-container {
    position: static;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw; /* Adjust as needed */
    height: 15vw; /* Adjust as needed */
    margin:1vw;
    box-sizing: border-box;
    background: radial-gradient(circle, rgb(0, 2, 101), rgba(0, 0, 0, 0.043)); /* Radial gradient from light blue to dark blue */
    color: rgb(255, 255, 255); /* Text color */
    font-size: 1vw; /* Adjust text size as needed */
    vertical-align: middle;
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px 50px;
}

.gradient-container a {
    position: static;
    color: white; /* Make link text white */
    text-decoration: none; /* Remove underline from links */
    display: block; /* Make the entire area clickable */
}

h2 {
    position: static;
    text-align: center;
    text-align-last: center;
    vertical-align: middle;
    height: 100%;
    padding: 10%;
    font-size: 1vw;
}

h1 {
    position: static;
    top: 0vw;
    color: white;
    align: center;
    font-size: 2vw;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vw;
}

/* Medium screens */
@media screen and (max-width: 1000px) {
    h2 {
        font-size: 2vw; /* Slightly larger on medium screens */
    }
    .gradient-container {
        width: 100%; /* Each container takes up 100% width on small screens */
        height: fit-content;
    }
}

/* Small screens */
@media screen and (max-width: 600px) {
    h2 {
        font-size: 2vw; /* Even larger on small screens */
    }
    .gradient-container {
        width: 100%; /* Each container takes up 100% width on small screens */
        height: fit-content;
    }
    .row-container {
        width: fit-content;
    }
}

/* Minimum font size */
@media screen and (max-width: 400px) {
    h2 {
        font-size: 2vw; /* A fixed minimum font size for very small screens */
    }
    .gradient-container {
        width: 100%; /* Each container takes up 100% width on small screens */
        height: fit-content;
    }
    .row-container {
        width: fit-content;
    }
}