<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Archimedes AI Research</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" type="image/x-icon" href="https://github.com/mandlos/archimedesai.github.io/blob/main/_data/Archimedes-favicon.png?raw=true">
</head>
<body>
    <header>
        <div class="nav-logo_container">
            <img src="./data/Images/Archimedes_logo.png" alt="Archimedes RU logo" class="nav-logo">
        </div>
        <div class="nav-text">
            <a href="index.html" target="_self">Home</a>
            <a href="https://www.archimedesai.gr/en/" target="_blank">Official site</a>
            <a href="https://www.archimedesai.gr/en/contact" target="_blank">Contact</a>
        </div>
    </header>
    <hr>

    <main class="container">
        {{ content }}
    </main>

    <br>
    <br>
    <footer>
        <div>
            {{ 'now' | date: '%Y' }} Archimedes Research Unit.
        </div>
    </footer>

    
</body>
</html>
